

* {
  padding:auto;
  margin:auto;
  box-sizing: border-box;
}

body {
  font-family: $SansSerif;
  font-weight: 300;
  height: 100%;
}

a {
  text-decoration: none;
}

.body--background {
  background-image: linear-gradient(to bottom, rgb(28, 44, 54), rgb(31, 58, 72), rgb(29, 28, 54));
  // #1c2c36, rgba(50, 54, 28, 0.78), #1d3782e0)
  background-repeat: no-repeat;
  background-size: 100%;
}


.header--section {
  font-family: $SansSerif;
  position: relative;
  text-decoration: underline;
}



