

* {
  padding:auto;
  margin:auto;
  box-sizing: border-box;
}

body {
  font-family: $SansSerif;
  font-weight: 300;
  height: 100%;
}

a {
  text-decoration: none;
}

.body--background {
  background-image: linear-gradient(to bottom, rgb(28, 44, 54), rgba(28, 47, 54, 0.776), rgb(244, 243, 243) );
  background-repeat: no-repeat;
  background-size: 100%;
}


.header--section {
  font-family: $SansSerif;
  position: relative;
  text-decoration: underline;
}



