
.contact {
  height: 50vh;
  z-index: 5;
  padding: 10%;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;


  h1 {
    font-family: $SansSerif;
    letter-spacing: .2em;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 300;
    color: $orange-1;
    font-size: calc(16px + 2vw);
    @include breakpoint(450px) {
      font-size: 20px;
    }
  }
  a {
    z-index: 5;
    height: 7vw;
    width: 7vw;
    background-size: contain;
    background-repeat: no-repeat;

    &.nav {
      margin: 0;
      display: none;
    }
    &.linked-in {
      background-image: url('/public/images/linkedIn.png');
    }

    &.github {
      background-image: url('/public/images/github.png');
    }
}
}
