
.contact {
  height: 300px;
  background-color: $Maroon;
  z-index: 5;
  padding: 1.3%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  h1 {
    font-family: $SansSerif;
    letter-spacing: .2em;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 300;
    color: $orange-1;
  }
  a {
    height: 70px;
    width: 70px;
    background-size: cover;

    &.nav {
      margin: 0
    }
    &.linked-in {
      background-image: url('/public/images/linkedIn.png');
    }

    &.github {
      height: 70px;
      width: 70px;
      background-size: cover;
      background-image: url('/public/images/github.png');
      color: #CA9400;
    }
}
}
