$backgroundBody: rgba(232, 216, 98, 0.982);
$charcoal: rgb(79, 82, 85);
$font-main: 'Lato', sans-serif;
$background: #f4f3f3;
$grayge: #707070;

$blue-0: rgba( 87, 95,113,1);	// Main blue color */
$blue-1: rgba( 22, 54,127,1);
$blue-2: rgba( 53, 67, 99,1);
$blue-3: rgba(124,127,134,1);
$blue-4: rgba(166,167,168,1);

$purple-1-0: rgba( 97, 89,115,1);	// Main purple color (1) */
$purple-1: rgba( 55, 22,130,1);
$purple-2: rgba( 68, 54,102,1);
$purple-3: rgba(130,126,137,1);
$purple-4: rgba(171,170,172,1);

$yellow-0: rgba(168,162,126,1);	// Main Secondary color (2) */
$yellow-1: rgba(189,164, 14,1);
$yellow-2: rgba(148,137, 70,1);
$yellow-3: rgba(200,198,183,1);
$yellow-4: rgba(251,251,248,1);

$orange-0: rgba(168,154,126,1);	// Main orange color */
$orange-1: rgba(189,131, 14,1);
$orange-2: rgba(148,122, 70,1);
$orange-3: rgba(200,195,183,1);
$orange-4: rgba(251,250,248,1);

/* RGB */
$color1: rgba(73, 88, 103, 1);
$color2: rgba(87, 115, 153, 1);
$color3: rgba(189, 213, 234, 1);
$color4: rgba(247, 247, 255, 1);
$color5: rgba(254, 95, 85, 1);


/*aspen */

$Royal-Blue: #3A71D2;
$DarkKhaki: #CBB55F;
$darkOliveGreen:rgba(75, 77, 48, 0.685);
$DarkKhaki:#948F53;
$DarkOliveGreen:#76804D;
$Maroon: rgb(54, 28, 50);


$Julius: 'Julius Sans One', sans-serif;
$Forum: 'Forum', 'cursive';
$Josefin: 'Josefin Slab', serif; /*300,400*/
$JosefinSlab: 'Josefin Sans', sans-serif; /*300,400*/
$Shadows: 'Shadows Into Light', 'cursive';
$SansSerif: Brandon, sans-serif;

