/*-----------------Intro-----------------*/

.intro {
  text-align: center;
  width:  100%;
  background-image: linear-gradient(to bottom, $Maroon, rgba(54, 28, 50, 0.776), rgb(244, 243, 243) );
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  height: 800px;
  @include breakpoint(600px) {
    height: 600px;
  }

  .intro-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    z-index: 1;
    position: relative;
    font-family: $Assistant;
    h1 {
      color: $orange-3;
      font-size: calc(75px + .8vw);
      letter-spacing: 2rem;
      margin-bottom: 2%;
      text-transform: uppercase;
      font-weight: 300;
      @include breakpoint(1200px) {
        font-size: 10vw;
      }
      @include breakpoint(600px) {
        font-size: 1.7em
      }
    }
    h3 {
      color: $orange-4;
      letter-spacing: 1.5rem;
      line-height: 1.5;
      font-weight: 300;
      font-size: calc(35px + .275vw);
      @include breakpoint(1200px) {
        font-size: calc(15px + 3vw);
      }
      @include breakpoint(600px) {
        font-size: 1.5em
      }
    }
    p {
      margin-top: 5%;
      color:$yellow-4;
      letter-spacing: 3px;
      line-height: 2;
      font-size: calc(20px + .575vw);
      @include breakpoint(1200px) {
        font-size: calc(10px + 2vw);
      }
      @include breakpoint(600px) {
        font-size: 1em;
        font-weight: 200;
      }
    }
  }
}
