/*-----------------Intro-----------------*/

.intro {
  height: 700px;
  text-align: center;

  .img-beach {
    height: 100%;
    width:  100%;
    background-image: linear-gradient(to bottom right, rgb(54, 28, 50), rgba(54, 28, 50, 0.55) );
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 16.66% auto 16.66%;
    grid-template-rows: 170px 175px 175px 175px auto;
    z-index: 1;
    font-size: 40px;
    position: relative;
    h1 {
      grid-column: 2/ span 1;
      grid-row: 1 /span 1;
      font-family: $SansSerif;
      color: $orange-3;
      letter-spacing: 2rem;
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 8%;
    }
    h3 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      font-family: $SansSerif;
      color: $orange-4;
      letter-spacing: 1.5rem;
      font-weight: 300;
    }
    p {
      grid-column: 2 / span 1;
      grid-row: 3 / span 2;
      margin-top: 5px;
      color: $orange-4;
      letter-spacing: 2px;
      line-height: 1.5;
      font-size: calc(25px + .375vw);
      // @include breakpoint(1200) {

      // }
    }
  }
}
