@keyframes bobble1 {
  0%, 100% {
    transform: translate3d(50px, 30px, 0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 33px, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes bobble2 {
  0%, 100% {
    transform: translate3d(50px, 33px, 0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 30px, 0);
    animation-timing-function: ease-out;
  }
}

@mixin breakpoint($point) {

  @if $point == large-view {
    @media (min-width: 1199px) { @content; }
  }
  @else if $point == custom-view {
    @media (min-width: 845px) { @content; }
  }
  @else if $point == medium-view {
    @media (min-width: 769px) { @content; }
  }
  @else if $point == small-view {
    @media (min-width: 580px) { @content; }
  }
  @else {
    @media (max-width: $point) { @content; }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  30% {
    opacity: .4;
  }
  50% {
    opacity: .6;
  }
  70% {
    opacity:  .8;
  }
  100% {
    opacity: 1;
  }
}
