.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 1.3% ;
  background-color: $Maroon;
  height: 120px;
  z-index: 5;
  span {
    margin: 10px 20px;
    font-size: 2.3em;
    text-align: center;

    @include breakpoint(1200px) {
      font-size: 4vw;
    }
    @include breakpoint(600px) {
      margin: 10px;
      font-size: 1.2em;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    text-decoration: none;
    color: $blue;
  }
}
