section {
  background: #f4f3f3;
  color: #707070;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  margin-bottom: 12%;

  h1.section-title {
    font-size: calc(28px + .575vw);
    font-family: $SansSerif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 50px 50px 50px 65px;
    color: $Maroon;
  }
  &.project-section {
    min-height: 100vh;



  .projects {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    .projects-container {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 90%;
      .large-6 {
        padding-right: 40px!important;
        padding-bottom: 40px!important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

      }
      .small-12 {
        @media print, screen and (max-width: 64em) {
          padding: 0 40px 40px 0;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .project-image {
      padding-bottom: 56.28571429%;
      background: 10% no-repeat;
      background-size: cover;
      display: block;
      position: relative;
      //background-repeat: no-repeat;
      &.a {
        background-image: url('/public/images/EC/HomeScreen.png');
      }
      &.b {
        background-image: url('/public/images/dataVis.png');
      }
      &.c {
        background-image: url('/public/images/techTalk.png');
      }
      &.d {
        background-image: url('/public/images/erasers.png');
      }
      &.e {
        background-image: url('/public/images/rebric.png');
      }
    }
    header {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      margin-right: 0;
      margin-left: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: calc(14.2px + 1.1875vw) !important;
      padding-bottom: 7%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      h3.project-title {
        font-size: calc(17.6px + .125vw);
        //font-weight: 400;
        font-family: $SansSerif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: .2em;
        line-height: 1.25;
        text-transform: uppercase;
        padding-right: 50px;
        border-right: 1px solid $purple-1;
        a {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          text-decoration: none;
          color: $Maroon;
        }
      }
    }
  }
}
}
