
$dev: dev;

@for $i from 1 through 12 {
  .#{$dev}-#{$i} {
    grid-area: #{$dev}-#{$i}
  }
}

.tech {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 7.5% repeat(4, 21.25%) 7.5%;
  grid-template-rows: 20% 50px repeat(4, 20%) 50px;
  column-gap: 0%;

  grid-template-areas:
  "rainbow rainbow header header header header "
  " . sub-header sub-header sub-header sub-header ."
  " . flexbox flexbox flexbox flexbox  . "
  " . flexbox flexbox flexbox flexbox  . "
  " . flexbox flexbox flexbox flexbox  . "
  " footer footer footer footer footer footer ";

  .tech-header {
    grid-area: header;
    font-family: $SansSerif;
    color: $orange-1;
    font-size: calc(28px + .575vw);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-left: 70px;
  }

  .rainbow {
    grid-area: rainbow;
    width: 100%;
    margin-top: 3%;
    line-height: 1;
    position: relative;
    padding-left: 15px;
    .pink {
      border-bottom: 3px solid rgb(233, 121, 250);
      display: inline-block;
      width: 85%;
      margin-left: 10px
    }

    .purple {
      border-bottom: 3px solid blue;
      display: inline-block;
      width: 85%;
      margin-left: 10px;
    }

    .red {
      border-bottom: 3px solid red;
      display: inline-block;
      width: 85%;
      margin-left: 10px;
    }

    .green {
      border-bottom: 3px solid green;
      display: inline-block;
      width: 85%;
      margin-left: 10px;
    }
    .star {
      background-image: url('/public/images/star2.png');
      height: 80px;
      width: 80px;
      position: absolute;
      top: -10px;
      margin-left: -5px;
      margin-right: 0%;
      background-size: cover;
    }
  }

  .sub-header {
    grid-area: sub-header;
    font-family: $SansSerif;
    text-transform: uppercase;
    color: $Maroon;
    font-size: 2rem;
    font-weight:300;
    margin-top: 3%;
    .underline {
      height: 2px;
      width: 100%;
      background: linear-gradient(to right, $purple-1, $orange-1)
    }

  }

  .tech-icos {
    grid-area: flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

      i {
        font-size: 5rem;
        margin: 2rem;
        padding: 2rem;
        align-self: center;
        &:hover {
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.116);
          transform: translateY(3px);
        }
        @include breakpoint(475px) {
          font-size: 3rem;
          margin: 1rem;
          padding: 1rem;
        }
    }


  @each $odd-number in (1, 3, 5, 8, 10, 12) {
    .#{$dev}-#{$odd-number} {
      animation: bobble1 2s infinite;
    }
  }

  @each $even-number in (2, 4, 6, 7, 9, 11) {
    .#{$dev}-#{$even-number} {
      animation: bobble2 2s infinite;
    }
  }
  }
}
