
$dev: dev;

@for $i from 1 through 12 {
  .#{$dev}-#{$i} {
    grid-area: #{$dev}-#{$i}
  }
}

.tech {
  //background-image: linear-gradient(to bottom, rgb(28, 44, 54), rgba(28, 47, 54, 0.776), rgb(244, 243, 243) );
  min-height: fit-content;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: 7.5% repeat(4, 21.25%) 7.5%;
  grid-template-rows: 25% repeat(3, 25%);
  column-gap: 0%;
  grid-template-areas:
  " . header header header header .  "

  " . flexbox flexbox flexbox flexbox . "
  " . flexbox flexbox flexbox flexbox . "
  " . flexbox flexbox flexbox flexbox . ";
  @include breakpoint(1500px) {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  .header--tech {
    grid-area: header;
    height: 12vw;
    max-height: 225px;
    min-height: 100px;
    background-size: contain;
  }

  .tech-icos {
    max-width: 1440px;
    grid-area: flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -3%;
    @include breakpoint(1500px) {
      margin-left: -10%
    }
    @include breakpoint(700px) {
      margin-left: -20%;
    }
      i {
        font-size: 5rem;
        margin: 2rem 4rem 3rem 4rem;
        padding: 2rem;
        align-self: center;
        &:hover {
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.116);
          transform: translateY(3px);
        }
        @include breakpoint(575px) {
          font-size: 3rem;
          margin: 1rem ;
          padding: 1rem;
        }
    }


  @each $odd-number in (1, 3, 5, 8, 10, 12) {
    .#{$dev}-#{$odd-number} {
      animation: bobble1 2s infinite;
    }
  }

  @each $even-number in (2, 4, 6, 7, 9, 11) {
    .#{$dev}-#{$even-number} {
      animation: bobble2 2s infinite;
    }
  }
  }
}
