
.videos {
  height: 100vh;
  background-color: $Maroon;
  .before {
    position: absolute;
    top:23%;
    left: 0;
    h3 {
      margin-left: 20%;
      font-family: $SansSerif;
      color: $orange-3;
      font-weight: 300;
      display: inline;

    }
    video {
      height: 50%;
      width: 52%;
      @include breakpoint(1025px) {
        position: absolute;
        top: 20%;
        left: 0;
      }
      @include breakpoint(600px) {
        font-size: 1.7em
      }
  }

  }

  .after {
    position: absolute;
    top:23%;
    right: 0;
    h3 {
      margin-right: 20%;
      font-family: $SansSerif;
      color: $orange-3;
      font-weight: 300;
      display: inline;
    }
    video {
      height: 50%;
      width: 48%;
      @include breakpoint(1025px) {
        position: absolute;
        top: 20%;
        right: 0;
      }
      @include breakpoint(600px) {
        font-size: 1.7em
      }
   }
  }

  h1 {
    font-family: $SansSerif;
    color: $orange-3;
    letter-spacing: .2em;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 75px 42% 0 42%;
  }
  h3 {
    position: absolute;
    font-family: $SansSerif;
    color: $orange-3;
    font-weight: 300;
    display: inline;
    &.before {
      top:23%;
      left: 20%
    }
    &.after {
      top:23%;
      right: 20%
    }
  }
}

